.main {
  width: 400px;
  background: #E2E4E6;
  padding: 12px;
  margin: 8px;
  position: relative;
}

.columns {
  display: grid;
  grid-template-columns: 45% 55%;
}

span {
  display: block;
  text-align: left;
}

.control label {
  margin-left: 10px;
}
.control input {
  max-width: 200px;
  position: absolute;
  left: 100px;
}

.memories label {
  margin-left: 10px;
}
.memories input {
  max-width: 200px;
  position: absolute;
  left: 290px;
}

button {
  margin: 8px;
}
