.main {
  width: 400px;
  background: #E2E4E6;
  padding: 12px;
  margin: 8px;
  position: relative;
}

button {
  margin: 8px;
}

.console {
  text-align: left;
  background: #101010;
  padding: 12px;
  margin: 8px;
  max-height: 12vh;
  height: 12vh;
  color: #EFEFEF;
  overflow: scroll;
}
