/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background:#E2E4E6;
}

.container {
  padding: 4px 4px 4px 4px;
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

.container > * {
  width: 100%;
}

.error {
  background:#f1f0ef;
  padding:1em;
  width:100%;
  display:block;
  margin-bottom:20px;
  margin-left: -1em;
}

.info {
  text-align: justify;
  margin-bottom: 10px;
}

a:link {
  color: #3f51b5;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3f51b5;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #3f51b5;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #3f51b5;
  background-color: transparent;
  text-decoration: underline;
}

.quote {
  color: white;
  background-color: #3f51b5;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
