<div class="main">

    <div class="container">
      <div>
        <button mat-icon-button class="arrow" (click)="minus()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      </div>
      <div>
        <h4 matTooltip="{{ getDescription() }}">Série {{ seriesId }}</h4>
      </div>
      <div>
        <button mat-icon-button class="arrow" (click)="plus()"><mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
    </div>

    <div class="lines">
      <div class="column">
        <div *ngFor="let inst of getInstructions() | slice:0:getHalfNbInst(); index as i">
					<div matTooltip="{{ inst.getDescription().replace('\n', ' -- \t') }}" matTooltipPosition="below">
	          <input *ngIf="!isProgramLine(i)" type="checkbox" (change)="emit()" [formControl]="getControl(i)">
	          <label *ngIf="isProgramLine(i)" class="checkpoint">➤</label>
	          <label class="label monospace">{{ i }} : </label>
	          <label class="hex monospace">{{ inst.toString().toUpperCase() }}</label>
	        </div>
        </div>
      </div>
      <div class="column">
        <div *ngFor="let inst of getInstructions() | slice:getHalfNbInst():s.getNumberOfInstructions(seriesId); index as i">
					<div matTooltip="{{ inst.getDescription().replace('\n', ' -- \t') }}" matTooltipPosition="below">
	          <input *ngIf="!isProgramLine(i + getHalfNbInst(seriesId))" type="checkbox" (change)="emit()" [formControl]="getControl(i + getHalfNbInst())">
						<label *ngIf="isProgramLine(i + getHalfNbInst(seriesId))" class="checkpoint">➤</label>
	          <label class="label monospace">{{ i + getHalfNbInst(seriesId) }} : </label>
	          <label class="hex monospace">{{ inst.toString().toUpperCase() }}</label>
	        </div>
        </div>
      </div>
    </div>
</div>
