.main {
  width: 400px;
  background: #E2E4E6;
  padding: 12px;
  margin: 8px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.lines {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}

.column {
  position: relative;
}

input {
  width: 40px;
}

.checkpoint {
	display: inline-block;
	width: 40px !important;
	height: 22.6333px !important;
	margin-left: 4px;
	margin-right: 3px;
	/* text-align: center; */
}

.label {
  position: absolute;
}

.hex {
  position: absolute;
  left: 90px;
}

.arrow {
  margin: auto;
  margin-top: 10px;
}
