<div class="main">
  <div class="container">
    <div>
      <button mat-icon-button class="arrow" (click)="minus()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <div>
      <form>
        <h4>Octade {{ octad }}</h4>
        <div *ngFor="let mb of getOctad()">
          <span>
            <label>{{ mb.label }}</label>
            <input *ngIf="!edit" matInput placeholder="{{ mb.label }}" [value]="getMemory(mb.id, octad)" disabled>
            <input *ngIf="edit" matInput placeholder="{{ mb.label }}" [formControl]="controls[nbOctads * octad + mb.id]">
          </span>
        </div>
		    <button mat-icon-button matTooltip="Editer" (click)="editMemories();" *ngIf="!edit" mat-raised-button><mat-icon>edit</mat-icon></button>
		    <button mat-icon-button matTooltip="Effacer" (click)="reset();" *ngIf="!edit" mat-raised-button><mat-icon>clear_all</mat-icon></button>
        <button (click)="setMemories(); edit=false;" [disabled]="!valid()" *ngIf="edit" mat-raised-button>Ok</button>
      </form>
    </div>
    <div>
      <button mat-icon-button class="arrow" (click)="plus()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
