<div>
  <form [formGroup]="control">

    <span *ngIf="error" class="error">{{ error }}</span>

    <div class="container">
      <mat-form-field>
        <textarea matInput placeholder="Code Hexa" formControlName="hex_entry"></textarea>
      </mat-form-field>
    </div>
    <button (click)="validate()" [disabled]="control.invalid" color="primary" mat-raised-button>Charger le code en série 3</button>
    <button (click)="validateDrum()" [disabled]="control.invalid" color="primary" mat-raised-button>Charger le code dans le tambour</button>
  </form>
</div>
