<div class="info">
L’éditeur de code va charger dans le Gamma ET le code à exécuter.<br>
Un premier onglet permet l’édition du tableau de connexions (série 3) et un deuxième l’édition du tambour. Lors de la validation (bouton "Charger le code"), le texte source est analysé : les commentaires, les espaces, les retours et tabulations sont retirés. Puis, s’il n’y a aucune erreur, le code est écrit dans la mémoire correspondante ("série 3" ou "tambour").
</div>
<div>
	<mat-tab-group>
		<mat-tab label="Tableau de connexions">
		  <form [formGroup]="series3HexCtrl">

		    <span *ngIf="series3HexError" class="error">{{ series3HexError }}</span>

		    <div class="container">
		      <mat-form-field>
		        <textarea matInput placeholder="Code Hexa" formControlName="hex_entry"></textarea>
		      </mat-form-field>
		    </div>
		    <button (click)="validateSeries3Hex()" [disabled]="series3HexCtrl.invalid" color="primary" mat-raised-button>Charger le code sur le tableau de connexions</button>
		  </form>
		</mat-tab>
		<mat-tab label="Tambour">
		  <form [formGroup]="magDrumHexCtrl">

		    <span *ngIf="magDrumHexError" class="error">{{ magDrumHexError }}</span>

		    <div class="container">
		      <mat-form-field>
		        <textarea matInput placeholder="Code Hexa" formControlName="hex_entry"></textarea>
		      </mat-form-field>
		    </div>
		    <button (click)="validateDrumHex()" [disabled]="magDrumHexCtrl.invalid" color="primary" mat-raised-button>Charger le code dans le tambour</button>
		  </form>
		</mat-tab>
	</mat-tab-group>
</div>
