<div>
	<mat-tab-group>
		<mat-tab label="Tableau de connexions">
		  <form [formGroup]="series3HexCtrl">

		    <span *ngIf="series3HexError" class="error">{{ series3HexError }}</span>

		    <div class="container">
		      <mat-form-field>
		        <textarea matInput placeholder="Code Hexa" formControlName="hex_entry"></textarea>
		      </mat-form-field>
		    </div>
		    <button (click)="validateSeries3Hex()" [disabled]="series3HexCtrl.invalid" color="primary" mat-raised-button>Charger le code sur le tableau de connexions</button>
		  </form>
		</mat-tab>
		<mat-tab label="Tambour">
		  <form [formGroup]="magDrumHexCtrl">

		    <span *ngIf="magDrumHexError" class="error">{{ magDrumHexError }}</span>

		    <div class="container">
		      <mat-form-field>
		        <textarea matInput placeholder="Code Hexa" formControlName="hex_entry"></textarea>
		      </mat-form-field>
		    </div>
		    <button (click)="validateDrumHex()" [disabled]="magDrumHexCtrl.invalid" color="primary" mat-raised-button>Charger le code dans le tambour</button>
		  </form>
		</mat-tab>
	</mat-tab-group>
</div>
