mat-card {
  margin-bottom: 4px;
}

span {
  display: inline-block;
}

.debug {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-template-areas:
    "a c"
    "b c"
    ". c";
}

.item1 {
  grid-area: a;
  justify-self: end;
}

.item2 {
  grid-area: b;
  justify-self: end;
}

.item3 {
  grid-area: c;
  justify-self: start;
}
