.error {
  background:#f1f0ef;
  padding:1em;
  width:100%;
  display:block;
  margin-bottom:20px;
  margin-left: -1em;
}

.prog {
  padding: 10px;
  text-align: justify;
}

.prog:hover {
  background-color: #f5f5f5;
}
