<div class="info">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aide
      </mat-panel-title>
    </mat-expansion-panel-header>

		Choisir un programmme et cliquer sur <mat-icon>play_circle_outline</mat-icon> pour le charger sur la machine.
  </mat-expansion-panel>
</div>

<span *ngIf="message" class="error">{{ message }}</span>

<div *ngFor="let prog of getProgramsNames()" class="prog">
	<span>{{ displayName(prog) }}
		<button mat-icon-button (click)="loadProgram(prog)">
			<mat-icon>play_circle_outline</mat-icon>
		</button>
	</span>
	<div><small [innerHTML]="description(prog)"></small></div>
</div>
